<div class="col-6">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="Anil"
      name="first_name"
      value="<%= this.first_name %>"
      required
    />
    <label for="floatingInput">First Name</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="pahari"
      name="last_name"
      value="<%=this.last_name %>"
      required
    />
    <label for="floatingInput">Last Name</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input
      type="email"
      class="form-control"
      id="floatingInput"
      placeholder="name@gmail.com"
      name="email"
      value="<%= this.email %>"
      required
    />
    <label for="floatingInput">Email address</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="9849282042"
      name="phone"
      value="<%=this.phone %>"
      required
    />
    <label for="floatingInput">Phone</label>
  </div>
</div>
<div class="col-12">
  <div class="form-floating mb-3">
    <textarea
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="comments"
      name="comments"
      style="height: 200px"
    >
<%=this.comments %></textarea
    >
    <label for="floatingInput">Comments</label>
  </div>
</div>

<button type="submit" class="btn btn-primary">Submit</button>
